.imgTitle {
  max-width: 100%;
  height: auto;
}

.canvas {
  display: inline-block;
  width: auto;
  padding: 10px;
  border: #000000 outset 3px;
}

.impact {
  margin-top: 10px;
  width: auto;
  border-bottom: 1px dashed #000000;
}

.round {
  font-size: 2rem;
}

.impactSentence {
  margin-bottom: 0px;
}

.impactReference {
  margin-top: 0px;
  font-style: italic;
}

.depoiments {
  margin: 10px;
  display: inline-block;
  width: 77%;
  padding: 10px;
  border: #000000 outset 3px;
}

.iframe {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 60%;
  height: 315px;
}

.youtube {
  width: 100%;
  height: 100%;
}

.amazonButton {
  max-width: 21em;
  height: 4em;
  background-color: #ff9900;
  opacity: 0.9;
  margin: 25px auto;
  border: #ffffff solid 2px;
  border-radius: 15px;
}

.buttonIntegration {
  max-width: 21em;
  height: 4em;
  background-color: rgb(0, 0, 255, 0.7);
  opacity: 0.9;
  margin: 25px auto;
  border: #ffffff solid 2px;
  border-radius: 15px;
}

.linkIntegration {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callTitle {
  font-size: 1.75em;
  font-family: Impact, Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}

.callTitle:hover {
  text-decoration: line-through;
  color: whitesmoke;
}

.logo {
  width: 64px;
  height: 64px;
}

.galery {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .iframe {
    height: 150px;
  }
}
