.imgTitle{
  max-width: 100%;
  height: auto;
}

.canvas {
  display: inline-block;
  width: auto;
  padding: 10px;
  border: whitesmoke outset 3px;
}

.impact {
  margin-top: 10px;
  width: auto;
  border-bottom: 1px dashed whitesmoke;
}

.round {
  font-size: 2rem;
}

.impactSentence {
  margin-bottom: 0px;
}

.impactReference {
  margin-top: 0px;
  font-style: italic;
}

.linkIntegration {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 60%;
  height: 315px;
}

.youtube{
  width: 100%;
  height: 100%;
}

.buttonIntegration {
  max-width: 21em;
  height: 4em;
  background-image: linear-gradient(crimson, rgb(0, 0, 255, 0.7), gray);
  opacity: 0.9;
  margin: 25px auto;
  border: white solid 2px;
  border-radius: 15px;
}

.callTitle {
  font-size: 1.75em;
  font-family: Impact, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: line-through;
  color: white;
}

@media only screen and (max-width: 800px) {
  .iframe {
    height: 150px;
  }
}
