body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #437DAB;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
}

footer {
  font-size: 12px;
  font-style: italic;
}

section {
  width: 77%;
  text-align: center;
  margin: auto;
}
